body {
    background: #f4f4f9;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: auto; 
}


.response-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    margin-top: 20px; 
}

#copyButton {
    align-self: flex-end; 
    padding: 0.375rem 0.75rem; 
    font-size: 1rem; 
}
   

#answerDiv {
    background-color: #f8f9fa;
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse; /* Latest messages at the bottom */
}

.chat-message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.user-message {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.bot-message {
    background-color: #e5e5ea;
    align-self: flex-start;
}

#questionInput {
    margin-bottom: 0; /* Remove margin to stack input with button */
}

#askButton {
    width: 100%;
}

#markdown-content {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    min-height: 200px;
    overflow: auto;
}

.button-container {
    margin-bottom: 10px;
}

button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #005f73;
    }

    button:disabled {
        background-color: #a9a9a9; /* Dark gray */
        cursor: not-allowed;
        color: #666; /* Lighter text color for better contrast and legibility */
    }